<button type="button" routerLink="['league', 'add']" >Add New League</button>
<div class="divTable">
    <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">League Name</div>
                <div class="divTableCell">Owner</div>
                <div class="divTableCell">Num Teams</div>
                <div class="divTableCell">&nbsp;</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell"> 
                    <a [routerLink]="['/league', 1]">
                    Leahey's Mountain League
                  </a></div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">
                    <a [routerLink]="['/league', 2]">
                        Chris's Urban League
                      </a>
                </div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
            </div>
        </div>
